/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding-top: 160px;
}

h1,
h2,
h3,
h4 {
    font-weight: 600;
}

/* UTILITIES */
a {
    text-decoration: none;
    color: #677886;
}

a:hover:not(.btn) {
    color: dodgerblue;
}

a.btn:hover {
    color: green;
}

/* LAYOUT */

.container {
    width: 1200px;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.w-50 {
    width: 50%;
}

/* MENU */
.menu-inline li {
    display: inline-block;
    list-style: none;
    margin-right: 20px;
}

.menu-inline li:last-child {
    margin-right: 0;
}

.menu-inline .fa-search {
    color: dodgerblue;
}


/* BUTTONS */
.btn {
    display: inline-block;
    min-width: 80px;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    color: #fe775a;
    border: 1px solid #fe775a;
    border-radius: 5px;
}

.btn.btn-orange {
    color: #f4f9fd;
    background: #fe775a;
    border: 1px solid transparent;
}

.btn.btn-big {
    padding: 20px;
}

/* MAIN HEADER */
.main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 80px;
    line-height: 80px;
    background: #f4f9fd;
}

.main-header a.btn {
    line-height: 1;
}

.main-header hr {
    max-width: 100%;
}

.main-header .float-left {
    width: 30%;
}

.main-header .float-right {
    width: 70%;
    text-align: right;
}

/* SECOND HEADER */
.second-header {
    background: #fff;
}

.second-header .logo img {
    vertical-align: middle;
}

/* MAIN SECTION */

/* JUMBOTRON */
.jumbotron {
    position: relative;
    height: 700px;
    background-image: url('../img/jumbotron.png');
    background-size: cover;
}

.jumbotron .jumbo-text {
    height: 100%;
    padding-top: 50px;
}

.jumbotron .jumbo-text h1 {
    margin-bottom: 40px;
    font-size: 40px;
}

.jumbotron .jumbo-text p {
    margin-bottom: 40px;
}

.jumbotron .jumbo-text a {
    margin-bottom: 40px;
}

.jumbotron .jumbo-text p:last-child {
    font-size: 12px;
}

.jumbotron hr {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    background: #afebe4;
}