/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

h1,
h2,
h3,
h4 {
    font-weight: 600;
}

/* UTILITIES */

/* LAYOUT */

.container {
    width: 1200px;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

.w-50 {
    width: 50%;
}