/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding-top: 160px;
    background: #f4f9fd;
}

h1,
h2,
h3,
h4 {
    font-weight: 600;
}

/* UTILITIES */
a {
    text-decoration: none;
    color: #677886;
}

a:hover:not(.btn) {
    color: dodgerblue;
}

a.btn:hover {
    color: green;
}

/* LAYOUT */

.container {
    width: 1200px;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.w-50 {
    width: 50%;
}

.circle-list li {
    list-style: none;
    text-align: left;
}

.fa-check-circle {
    color: #fe775a;
    margin-right: 15px;
}

.box {
    background: #fff;
    box-shadow: 1px 1px 5px 3px rgba(0,0,0, .25);
    border-radius: 5px;
}


/* MENU */
.menu-inline li {
    display: inline-block;
    list-style: none;
    margin-right: 20px;
}

.menu-inline li:last-child {
    margin-right: 0;
}

.menu-inline .fa-search {
    color: dodgerblue;
}


/* BUTTONS */
.btn {
    display: inline-block;
    min-width: 80px;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    color: #fe775a;
    border: 1px solid #fe775a;
    border-radius: 5px;
}

.btn.btn-orange {
    color: #f4f9fd;
    background: #fe775a;
    border: 1px solid transparent;
}

.btn.btn-big {
    padding: 20px;
}

/* MAIN HEADER */
.main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 80px;
    line-height: 80px;
    background: #f4f9fd;
}

.main-header a.btn {
    line-height: 1;
}

.main-header hr {
    max-width: 100%;
}

.main-header .float-left {
    width: 30%;
}

.main-header .float-right {
    width: 70%;
    text-align: right;
}

/* SECOND HEADER */
.second-header {
    background: #fff;
}

.second-header .logo img {
    vertical-align: middle;
}

/* MAIN SECTION */

/* JUMBOTRON */
.jumbotron {
    position: relative;
    height: 700px;
    background-image: url('../img/jumbotron.png');
    background-size: cover;
}

.jumbotron .jumbo-text {
    height: 100%;
    padding-top: 50px;
}

.jumbotron .jumbo-text h1 {
    margin-bottom: 40px;
    font-size: 40px;
}

.jumbotron .jumbo-text p,
.jumbotron .jumbo-text a {
    margin-bottom: 40px;
}

.jumbotron .jumbo-text p:last-child {
    font-size: 12px;
}

.jumbotron hr {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    background: #afebe4;
}

/* POWER SECTION */
.powerful .container {
    width: 65%;
    text-align: center;
    padding: 50px;
}

.powerful .container img {
    width: 200px;
}

.powerful .container h2,
.powerful .container p {
    padding-bottom: 40px;
}

/* HUB SECTION */
.hub .container {
    transition: .3s ease-in-out
}

.hub .container:hover {
    transform: scale(1.014);
}

.hub .free-crm .book-img {
    width: 30%;
    padding: 50px 100px;
}

.free-crm .book-img img {
    padding-bottom: 50px;
}

.free-crm .free-hub {
    width: 70%;
    padding: 50px 70px;
}

.free-crm .free-hub h3 {
    padding-bottom: 50px;
}

.free-crm .free-hub p,
.free-crm .free-hub h4 {
    padding-bottom: 30px;
}

.free-crm .free-hub h4 span {
    display: inline-block;
    width: 60%;
    padding-left: 80px;
    vertical-align: middle;
}

/* HUB COLUMNS */
.hub .clmn1,
.hub .clmn2,
.hub .clmn3 {
    width: 30%;
    margin: 50px 0;
    padding: 50px;
    text-align: center;
    transition: .3s ease-in-out;
}

.hub .clmn2 {
    margin-right: 5%;
    margin-left: 5%;
}

.hub .clmn1:hover,
.hub .clmn2:hover,
.hub .clmn3:hover {
    transform: scale(1.014);
}

.hub .clmn1 img,
.hub .clmn2 img,
.hub .clmn3 img {
    height: 100px;
}

.hub .clmn1 h3,
.hub .clmn2 h3,
.hub .clmn3 h3 {
    padding: 30px 0;
}

.hub .clmn1 p,
.hub .clmn2 p,
.hub .clmn3 p {
    padding-bottom: 50px;
}

.hub .clmn1 h4,
.hub .clmn2 h4,
.hub .clmn3 h4 {
    padding: 30px 0;
}

.hub .clmn1 a,
.hub .clmn2 a,
.hub .clmn3 a {
    margin-top: 40px;
}

/* LEARN AND GROW SECTION */
.learn-grow {
    background-image: linear-gradient(to right, #00a8b9, #00baa8);
    text-align: center;
    color: #fff;
    padding: 50px 0;
}

.learn-grow .container p {
    padding: 50px 0;
    font-size: 14px;
}

.learn-grow .float-left {
    width: 25%;
    padding: 20px 50px;
    border-right: 1px solid #fff;
}

.learn-grow .float-left.bot {
    border-top: 1px solid #fff;
}

.learn-grow .float-left:nth-child(6) {
    border: none;
}

.learn-grow .float-left:last-child {
    border-right: none;
}

.learn-grow .float-left .learn-number {
    font-size: 40px;
    font-weight: 600;
    padding: 20px 0;
}

.learn-grow .float-left span {
    font-weight: normal;
}

.learn-grow .float-left .learn-text {
    font-size: 14px;
}

/* CUSTOMERS SECTION */
.customers {
    background: #fff;
    max-height: 100%;
    padding: 50px;
}

.customers .cust-text {
    width: 20%;
    text-align: center;
}
 .customers .cust-text > div {
     font-size: 40px;
     font-weight: 600;
     padding-bottom: 50px;
 }

 .customers .cust-logo {
     width: 80%;
     text-align: right;
 }

 .customers .cust-logo img {
     max-width: 200px;
     vertical-align: middle;
     padding-bottom: 50px;
     padding-right: 20px;
     transition: .3s ease-in-out;
 }

 .customers .cust-logo img:hover {
    transform: scale(1.1);
 }

/* WOMAN SECTION */